services:
# All parameters are populated from the .env file 
 retaildb:
  image: postgres:18
  environment:
   POSTGRES_USER: ${POSTGRES_USER}
   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   POSTGRES_DB: ${POSTGRES_DB}
  volumes:
   - ./retail_sales_data:/var/lib/postgresql # Mount the local directory to container path to not lose data after exiting from the containers
  ports:
   - ${POSTGRES_PORT}:5432
 
 pgadmin:
  image: dpage/pgadmin4
  environment:
   PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
   PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  ports:
   - ${PGADMIN_PORT}:80
 
 py_insertion_app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - retaildb # To run only after the postgres service is run
    environment:
      DB_HOST: ${HOST} # Use the postgres service name as the hostname
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD} 
      DB_PORT: ${POSTGRES_PORT} 
