services:
 
 retaildb:
  image: postgres:18
  environment:
   POSTGRES_USER: "${POSTGRES_USER}"
   POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
   POSTGRES_DB: "${POSTGRES_DB}"
  volumes:
   - "./retail_sales_data:/var/lib/postgresql"
  ports:
   - "${POSTGRES_PORT}:5432"
 
 pgadmin:
  image: dpage/pgadmin4
  environment:
   PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
   PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
  ports:
   - "${PGADMIN_PORT}:80"
